.form-wrapper {
  background-color: green;
}

.itembox-wrapper {
  width: 450px;
  height: 200px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 25px;
  padding: 10px;
  background-color: #bff2c9;
  color: #171a18;
  position: absolute;
}

.timer-wrapper {
  font-size: 16px;
  font-weight: bold;
}

.counter-wrapper {
  position: relative;
  top: 140px;
  left: 420px;
}
