body {
  margin: 0;
  padding: 0;
}

.form-wrapper {
  background-color: green;
}

.itembox-wrapper {
  border: 1px solid #ccc;
  display: block;
  width: 450px;
  height: 200px;
  padding: 10px;
  background-color: #bff2c9;
  color: #171a18;
}

.timer-wrapper {
  font-size: 16px;
  font-weight: bold;
}

.counter-wrapper {
  background-color: springgreen;
  text-align: center;
  border: 1px solid #ccc;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.counter-wrapper span {
  display: block;
  line-height: 30px;
}
